/* Main Content Styling */
#contact-image img {
    width: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#contact-image {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}

#contact-heading {
    font-size: 2em;
    color: #fff;
}

textarea,
form input,
button {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

textarea {
    resize: none;
    height: 200px;
}

button {
    display: inline-block;
    background: #f9004d;
    font-size: 1.1rem;
    initial-letter: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

button:hover {
    border: 2px solid #f9004d;
    background: transparent;
    transform: scale(1.1);
}

#form {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
}

/* Media Quries For Small Screen's */
@media (max-width: 1240px) {
    #contact-image img {
        margin-left: 20px;
    }
    
}

/* Media Quries For Small Screen's */
@media (max-width: 800px) {
    #contact-image img {
        width: 250px;
    }
    button{
        width: 150px;
    }

}

/* Media Quries For Small Screen's */
@media (max-width: 750px) {
    #contact-image img {
        margin-top: 10px;
    }

}